<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Padaria Gerson</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

	<div class="container">		
		
		<div class="jumbotron jumbotron-fluid" style="padding-top: 20px; padding-bottom: 20px;">
		<h2>Edição de Conta</h2>
		<form action="#" id="formulario-edicao" th:action="@{../edit}" th:object="${conta}" method="post">
			<input class ="form-control" type="hidden" name="id" th:value="${contaEdit.id}"/>
			<div class="row">
				<div class="form-group col-md-6">					
					<label>Filial: </label>			
		            <select id="filial" class="form-control form-control-lg" name="filialId" required="required">
		            	<option value="">Selecione a filial</option>	
		  				<option th:each="filial: ${filiais}" 
		  						th:value="${filial.id}" 
		  						th:text="${filial.local}"
		  						th:selected="${filial==contaEdit.filial}" />	
					</select>
				</div>
				<div class="form-group col-md-6">
					<label>Valor Conta</label>
					<input class ="valor form-control" placeholder="Valor Conta" required="required" name="valor" th:value="${contaEdit.valor}"/>					
				</div>
			</div>		
			<button class="btn btn-primary" type="submit">Atualizar</button>
			<a class="btn btn-primary" href="/conta">Voltar</a>
		</form>					   
		</div>				    	    
	</div>
	  

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<script src="/js/jquery.js" th:href="@{/js/jquery.js}"></script>

<script src="/js/jquery.maskMoney.js" type="text/javascript"></script>
<script>
	$(".valor").maskMoney({prefix:'R$ ', allowNegative: true, thousands:'.', decimal:',', affixesStay: false});
	
	$('#formulario-edicao').submit(function() {
		var value = $('.valor').maskMoney('unmasked')[0];
	    $('.valor').val(value);	  	
	});
</script>
</body>

</html>
