<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Padaria Gerson</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">			    
			    	<a class="navbar-brand" href="/filial" style="color: #337AB7">Gerenciar Filiais</a>
			    </div>
				
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
					  <li><a href="/conta">Gerenciar Contas</a></li>
					</ul>
			    </div>
			</div>
		</nav>    
	    <div>
	    	<h2 align="center" th:text="${filial.local}"></h2>		
		    <table class="table table-bordered" style="width: 100%">
				<thead>
				    <tr>
				      <th scope="col">Conta Paga</th>
				      <th scope="col">Data Pagamento</th>
				      <th scope="col">Valor Conta</th>				      
				      <th scope="col">Saldo Anterior</th>
				      <th scope="col">Saldo Posterior</th>
				      				      
				    </tr>
			  	</thead>
			  	<tbody th:each="conta: ${contas}">
			  	<tr>			
			  		<td th:with="condition=${conta.contaPaga}">
				    	<a th:if="${condition}" type="button" class="btn btn-success disabled">Paga</a>
				    	<a th:if="!${condition}" type="button" class="btn btn-warning disabled">Não Paga</a>
				    </td>
				    <td><span th:text="${#temporals.format(conta.dataLancamento, 'dd/MM/yyyy')}"></span></td>
					<td><span th:text="${#numbers.formatDecimal(conta.valor, 0, 'POINT', 2, 'COMMA')}"></span></td>					
				    <td><span th:text="${#numbers.formatDecimal(conta.saldoAnterior, 0, 'POINT', 2, 'COMMA')}"></span></td>
				    <td th:with="condition=${conta.contaPaga}">
				    	<span th:if="${condition}" th:text="${#numbers.formatDecimal(conta.saldoAnterior - conta.valor, 0, 'POINT', 2, 'COMMA')}"></span>
				    </td>
				</tr>
				</tbody>
			</table>    
	    </div>
	</div>

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>

</html>
